
:root{
   --black: #000000;
   --white: #ffffff;
   --gray: #898989;
   --colorPrimary: #00206F;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: var(--colorPrimary);
}
header img {
    margin: 2px;
    width: 3em;
    height: 2em;
}

nav {
    display: flex;
    justify-content: center;
    background-color: var(--colorPrimary);
}
nav a {
    margin-left: 5px;
    padding: 10px;
    color: var(--white);
    font-size: 20px;
    text-decoration: none;
    transition: all .5s;
}
nav a:hover {
    background-color: var(--white);
    color: var(--colorPrimary);
    transition: all .5s;
}

footer a {
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--colorPrimary);
    color: var(--white);
    box-shadow: 0px 0px 3px 3px var(--gray);
    text-decoration: none;
    transition: all .5s;
}
footer a:hover {
    transform: scale(1.1) rotate(360deg);
    box-shadow: 0px 0px 10px 5px var(--gray);
    transition: all .5s;
}
footer div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: var(--colorPrimary);
}
footer div > p {
    padding: 20px;
    font-size: 20px;
    color: var(--white);
}

h1 {
    margin: 10px;
    font-size: 40px;
    text-align: center;
}
h2 {
    margin: 10px;
    font-size: 35px;
    text-align: center;
}
hr.border {
    margin: 30px 20px 30px 20px;
    border: 1px solid var(--gray);
}
